
body{


    margin: 0;

    background-color: #121212;
    color: white;

    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, p{

    margin: 0px;
    padding: 0px;

    font-weight: 400;
}

th{

    text-align: left;
}


.page{

    width: 100%;
    height: 100vh;

    box-sizing: border-box;


    padding: 30px;
}

label{

    display: inline-block;
}


table{

    width: 100%;
    position: relative;

}

thead{

    top: 0;
    position: sticky;
    background-color: #121212;
}


.add-project{

    position: fixed;

    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1eaedb;

    padding: 20px 50px;

    border-radius: 50px;
}

.add-project table{


    border-collapse: separate;
    border-spacing: 50px 10px;

}

input{

    background-color: transparent;
    border: 0;
    color: white
}

input::placeholder{

    color: white;
}

input:focus{


    outline: 0;
    border: 0;
}


.add-project-buttons{


    display: flex;
    flex-direction: row;

    gap: 2px;
}


.custom-select{

    position: relative;

    width: 100px;
}


.custom-select::before,
.custom-select::after {
  --size: 5px;
  position: absolute;
  content: "";
  right: 2px;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid white;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid white;
  top: 55%;
}


.custom-select select{

    appearance: none;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 5px 15px;
    color: black;
    text-align: left;
    border: 1px solid white;
    background-color: #6cd7f8;
}

button{

    background-color: #1493b9;

    margin: 0px 4px;
    color: white;
    border: white 2px solid;

    border-radius: 10px;
}

button:hover{

    background-color: #6cd7f8;
    color: black;
}

button:active{
    transform: scale(.9);
}



.pending{

    color: rgb(143, 143, 143);
}

.in-progress{

    color: #1eaedb;
}

.paused{

    color: rgb(233, 233, 124);
}

.completed{

    color: rgb(99, 216, 99);
}



.action-icons{

    width: 100%;
    height: 100%;

    gap: 10px;

    display: flex;
    flex-direction: row;
}


.action:hover.play{
    color: #1eaedb;
}

.action:hover.pause{
    color: rgb(233, 233, 124);
}

.action:hover.stop{

    color: rgb(143, 143, 143);
}


.action:hover.complete{

    color: rgb(99, 216, 99);
}

.action:hover.delete{

    color: rgb(236, 52, 52);
}

.action:hover{

    transform: scale(1.2);
}

.action:active{
    transform: scale(.9);
}
